.cmgrid_full_box {
  grid-column: span 2;

  .cmitem_ty_deal .cmitem_unit {
    background-color: #fff;
  }

  .cmitem_unit {
    position: relative;
    font-family: "Roboto-Regular", AppleSDGothicNeo, sans-serif;
    text-align: left;
  }

  &.cmitem_ty_deal.v2 {
    padding: 15px 15px 30px;
  }
}

.cmgrid_full_box .cmitem_goods {
  position: relative;
}

.cmitem_ty_deal .cmitem_gridbx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cmitem_ty_deal .cmitem_gridbx.ty_rect .cmitem_thmb {
  border-radius: 0;
}

.cmitem_ty_deal .cmitem_gridbx .cmitem_thmb {
  width: 100%;
  margin-right: 15px;
}

.cmitem_thmb {
  overflow: hidden;
  position: relative;
  border-radius: 8px;
}

.cmitem_thmb .cmitem_thmb_link {
  display: block;
  overflow: hidden;
  position: relative;
}

.cmitem_ty_deal .cmitem_gridbx.ty_rect .cmitem_thmb .cmitem_thmb_imgbx {
  border-radius: 0;
}

.cmitem_thmb {
  .cmitem_thmb_imgbx {
    overflow: hidden;
    position: relative;
    padding-top: 100%;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.03);
      content: "";
    }
  }

  .cmitem_thmb_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

// 썸네일 아더
.cmitem_ty_deal .cmitem_gridbx .cmitem_other {
  width: 23%;
}

.cmitem_ty_deal .cmitem_gridbx .cmitem_other_list.ty_full {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.cmitem_ty_deal .cmitem_gridbx .cmitem_other_list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
}

.cmitem_ty_deal {
  .cmitem_gridbx {
    .cmitem_other_thmb {
      position: relative;
      display: block;
      overflow: hidden;
      padding-bottom: 100%;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.03);
      }
    }
  }
}

.cmitem_ty_deal .cmitem_gridbx .cmitem_other_thmb.ty_more .icon_plusmark {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

i.icon.ty_xs {
  width: 16px;
  height: 16px;
}

i.icon {
  display: inline-block;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

i.icon::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.icon_plusmark::after {
  background-image: url('../../../assets/svg/plus-icon.svg');
}

.blind,
.legend {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  line-height: 0;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
  clip: rect(0, 0, 0, 0);
}

.blind:before,
.legend:before {
  display: block;
  width: 0;
  height: 0;
  font-size: 0;
  content: "\00a0";
}

.cmitem_ty_deal .cmitem_gridbx .cmitem_other_thmb:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.03);
}