.cmhistory_tit {
  padding-top: 20px;

  h1 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 28px;
  }

  .cmhistory_bt {
    position: absolute;
    display: flex;
    align-items: center;
  }
}
