.mndtl_opt_close {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product_option_box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  .product_option_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
    width: 100%;

    .product_option_tit {
      font-weight: 600;
      font-size: 16px;
    }

    select {
      width: 80%;
    }
  }
}
