.mcom_service_area {
  height: 80px;
}

.mcom_service_info {
  width: 50%;
}

.mcom_service_btnarea {
  display: flex !important;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}
