.cart-btn {
  position: absolute;
  right: 5px;
  top: 15px;
}
.cart-icon {
  display: flex;
  width: 24px;
  height: 24px;
  background: center / 100% no-repeat;
  background-image: url('../../../assets/svg/icon-cart.svg');
}
