.back-arrow-icon {
  display: block;
  width: 20px;
  height: 20px;
  background: url('./../../../../assets/img/search-set.png') no-repeat;
  background-size: 115px 165px;
  background-position: -95px -40px;
}
