@charset "UTF-8";

.ico_tooltip {
    position: absolute;
    top: 5px;
    right: 6px;
    display: block;
    padding: 1px 2px 0 3px;
    line-height: 12px;
    border-radius: 7px;
    background-color: #ff5b59;
    font-family: "Roboto";
    font-size: 9px;
    color: #fff;
}

/* 공통 GNB */
.mcom_wrap.ssg .mcom_header {
    position: relative;
    background-color: #fff;
}

.mcom_wrap.ssg .mcom_header:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, left top, right top, from(#e0d01b), color-stop(8%, #ff9a67), color-stop(38%, #ff4f4d), color-stop(71%, #cd47ff), to(#6a59ff));
    background: linear-gradient(to right, #e0d01b, #ff9a67 8%, #ff4f4d 38%, #cd47ff 71%, #6a59ff);
    content: "";
}

/* 공통 카테고리 LNB */
.mcom_category_renew a {
    color: #222;
}

.mcom_category_renew .clnb_sec {
    position: relative;
    background-color: #fff;
    border-top: 15px solid #f5f5f5;
}

.mcom_category_renew .clnb_sec:first-child {
    border-top: 0;
}

.mcom_category_renew .clnb_sec ul {
    font-size: 0;
}

.mcom_category_renew .clnb_sec li {
    display: inline-block;
    position: relative;
}

.clnb_tit {
    padding: 20px 15px 0;
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

.clnb_tit .cm_mall_ic+span {
    padding-left: 5px;
}

.clnb_renew_item {
    padding: 10px 0 15px;
    margin: 0 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
}

.clnb_renew_item a {
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.clnb_renew_item .thmb {
    display: block;
    background-size: cover;
    background-position: 50% 50%;
}

.clnb_renew_item em {
    display: -webkit-box;
    overflow: hidden;
    margin-top: 7px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: #424242;
    font-size: 11px;
    line-height: 1.2;
    letter-spacing: -0.5px;
    text-align: center;
    margin: 7px auto 0;
}

.clnb_btn_area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.clnb_btn_area .clnb_btn {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 12px;
    color: #969696;
}

.clnb_btn_more {
    line-height: 50px;
    height: 50px;
}

.clnb_btn_more .clnb_toggle .sr_off {
    display: block;
}

.clnb_btn_more .clnb_toggle .sr_on {
    display: none;
}

.clnb_btn_more .clnb_toggle span:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    margin: -6px 0 0 6px;
    border-bottom: 1px solid #969696;
    border-right: 1px solid #969696;
    -webkit-transform: perspective(1px) rotate(45deg);
    transform: perspective(1px) rotate(45deg);
}

.clnb_btn_more .clnb_toggle .sr_on:after {
    margin: 0px 0 0 6px;
    -webkit-transform: perspective(1px) rotate(-135deg);
    transform: perspective(1px) rotate(-135deg);
}

.clnb_renew_quick {
    padding: 0 20px;
    background: #f5f5f5;
}

.clnb_renew_quick.open .clnb_quick_item {
    display: block;
}

.clnb_renew_quick.open .sr_off {
    display: none;
}

.clnb_renew_quick.open .sr_on {
    display: block;
}

.clnb_renew_quick .btn_quick_info {
    display: inline-block;
    vertical-align: top;
    margin: 2px 0 0 5px;
}

.clnb_renew_quick .btn_quick_info:before {
    /* background-image: url(../img/sprites/sp_mcomlnb_20200703.png); */
    background-position: -52px -25px;
    width: 14px;
    height: 14px;
    display: inline-block;
    content: "";
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .clnb_renew_quick .btn_quick_info:before {
        /* background-image: url(../img/sprites/sp_mcomlnb_20200703@2x.png); */
        background-size: 92px 43px;
    }
}

.clnb_renew_quick .clnb_quick_tit {
    padding: 20px 0 0;
    margin-bottom: 10px;
}

.clnb_renew_quick .clnb_renew_item {
    display: block;
}

.clnb_renew_quick .clnb_renew_item em {
    display: inline-block;
}

.clnb_renew_quick .clnb_quick_item {
    display: none;
    position: relative;
}

.clnb_renew_quick .clnb_quick_item:nth-child(1),
.clnb_renew_quick .clnb_quick_item:nth-child(2),
.clnb_renew_quick .clnb_quick_item:nth-child(3) {
    display: block;
}

.clnb_renew_quick .clnb_quick_item a {
    display: block;
    position: relative;
    margin-top: 5px;
    padding: 0px 10px;
    height: 50px;
    line-height: 50px;
    background: #fff;
    border-radius: 10px;
    font-size: 13px;
    -webkit-transition: 0.3s all cubic-bezier(0.07, 0.83, 0.47, 0.88);
    transition: 0.3s all cubic-bezier(0.07, 0.83, 0.47, 0.88);
    left: 0px;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.clnb_renew_quick .clnb_quick_item a:focus {
    outline: none;
}

.clnb_renew_quick .clnb_quick_item a .thmb {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #5d30ff;
    background-size: cover;
    background-position: 50% 50%;
}

.clnb_renew_quick .clnb_quick_item a em {
    vertical-align: top;
    font-weight: bold;
}

.clnb_renew_quick .clnb_quick_item.active a {
    left: -50px;
}

.clnb_renew_quick .clnb_quick_del {
    position: absolute;
    width: 70px;
    height: 50px;
    top: 0;
    right: 1px;
    border-radius: 10px;
    background: #ff3e3e;
    border-right: 1px solid #ff3e3e;
}

.clnb_renew_quick .clnb_quick_del:before {
    /* background-image: url(../img/sprites/sp_mcomlnb_20200703.png); */
    background-position: 0px -25px;
    width: 16px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    content: "";
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .clnb_renew_quick .clnb_quick_del:before {
        /* background-image: url(../img/sprites/sp_mcomlnb_20200703@2x.png); */
        background-size: 92px 43px;
    }
}

.clnb_renew_quick .clnb_quick_del:focus {
    outline: none;
}

.clnb_renew_quick+.clnb_renew_cate:before {
    content: none;
}

.clnb_renew_cate ul {
    padding: 0 15px 5px;
    overflow-x: hidden;
}

.clnb_renew_cate .clnb_renew_item {
    min-height: 125px;
    border-radius: 27px;
}

.clnb_renew_cate .clnb_renew_item.ty_theme em {
    color: #5d30ff;
}

.clnb_renew_cate .clnb_renew_item .thmb {
    width: 78px;
    height: 78px;
    border-radius: 27px;
}

.clnb_renew_cate .clnb_renew_item:hover .thmb:before {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 27px;
    background: rgba(0, 0, 0, 0.03);
    z-index: 10;
    content: "";
}

.clnb_recmm ul {
    padding: 5px 11px 40px 15px;
}

.clnb_recmm .clnb_renew_item {
    padding: 15px 0 0;
}

@media screen and (min-width: 321px) and (max-width: 414px) {
    .clnb_recmm .clnb_renew_item {
        width: calc(100% / 5);
        margin: 0 calc(((100% / 5) - 65px) / (5 - 1)) 0 0;
    }

    .clnb_recmm .clnb_renew_item:nth-child(5n) {
        margin: 0;
        width: 65px;
    }
}

@media screen and (max-width: 320px) {
    .clnb_recmm .clnb_renew_item {
        width: calc(100% / (5 - 1));
        margin: 0 calc(((100% / 4) - 65px) / (4 - 1)) 0 0;
    }

    .clnb_recmm .clnb_renew_item:nth-child(4n) {
        margin: 0;
        width: 65px;
    }
}

.clnb_recmm .clnb_renew_item .thmb {
    width: 65px;
    height: 65px;
    border-radius: 20px;
}

.clnb_recmm .clnb_renew_item em {
    font-size: 12px;
    color: #424242;
    width: 65px;
}

.clnb_shdu ul {
    padding: 7px 15px 15px;
}

.clnb_shdu .clnb_shdu_item {
    margin-top: 8px;
}

.clnb_shdu .clnb_shdu_link {
    display: table;
    overflow: hidden;
}

.clnb_shdu_thmb {
    float: left;
    width: 145px;
    position: relative;
    border-radius: 7px;
    overflow: hidden;
}

.clnb_shdu_thmb .clnb_shdu_img {
    padding-bottom: 60%;
}

.clnb_shdu_thmb .clnb_shdu_img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 320px) {
    .clnb_shdu_thmb {
        width: 120px;
    }
}

.clnb_shdu_tx_thmb {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
    padding-left: 10px;
}

.clnb_shdu_tx_thmb .clnb_shdu_tit {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    word-break: break-all;
    font-weight: bold;
    font-size: 14px;
}

.clnb_shdu_tx_thmb .clnb_shdu_subtx {
    display: -webkit-box;
    overflow: hidden;
    margin-top: 5px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 13px;
    color: #777777;
}

.clnb_special .clnb_special_more {
    position: absolute;
    right: 15px;
    top: 21px;
    font-size: 12px;
}

.clnb_special .clnb_special_more:after {
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    margin: -3px 0 0 3px;
    border-bottom: 1px solid #222;
    border-right: 1px solid #222;
    -webkit-transform: perspective(1px) rotate(-45deg);
    transform: perspective(1px) rotate(-45deg);
    content: "";
}

.clnb_special .clnb_special_brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 12px 15px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.clnb_special .clnb_brand_item {
    margin: 8px 0 0 0;
}

.clnb_special .clnb_brand_item .thmb {
    display: block;
    overflow: hidden;
    position: relative;
    padding-top: 17.39%;
    border-radius: 7px;
}

.clnb_special .clnb_brand_item .thmb img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.clnb_special .clnb_special_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 20px;
    border-top: 1px solid #f5f5f5;
}

.clnb_special .clnb_special_brand+.clnb_special_wrap {
    margin-top: 15px;
}

.clnb_special .clnb_special_item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc(100% / 3);
    flex: 1 1 calc(100% / 3);
    max-width: 33.333%;
    padding: 10px 0;
    min-height: 72px;
    border-right: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}

.clnb_special .clnb_special_item:nth-child(3n) {
    border-right: 0;
}

.clnb_special .clnb_special_item .thmb {
    position: relative;
    display: block;
    max-width: 74px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 30px;
}

.clnb_special .clnb_special_item .thmb img {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.clnb_special .clnb_special_item em {
    display: block;
    margin: 5px 5px 0;
    font-size: 12px;
    color: #777;
    line-height: 1.3;
}

.clnb_special .clnb_special_item.bdg_open a:before {
    /* background-image: url(../img/sprites/sp_mcomlnb_20200703.png); */
    background-position: -38px 0px;
    width: 28px;
    height: 15px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    content: "";
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .clnb_special .clnb_special_item.bdg_open a:before {
        /* background-image: url(../img/sprites/sp_mcomlnb_20200703@2x.png); */
        background-size: 92px 43px;
    }
}

.clnb_special .clnb_special_item.bdg_ad a:before {
    /* background-image: url(../img/sprites/sp_mcomlnb_20200703.png); */
    background-position: 0px 0px;
    width: 28px;
    height: 15px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    content: "";
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .clnb_special .clnb_special_item.bdg_ad a:before {
        /* background-image: url(../img/sprites/sp_mcomlnb_20200703@2x.png); */
        background-size: 92px 43px;
    }
}

.clnb_starfield ul {
    margin-top: 20px;
    border-top: 1px solid #f5f5f5;
}

.clnb_starfield .clnb_star_item {
    width: 33.333%;
    padding: 12px 0;
    margin-left: -1px;
    border-left: 1px solid #f5f5f5;
    text-align: center;
}

.clnb_starfield .clnb_star_thumb {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
}

.clnb_starfield .clnb_star_name {
    display: inline-block;
    padding-left: 32px;
    line-height: 30px;
    font-size: 13px;
}

.clnb_footer {
    padding: 30px 0 170px;
    background: #555;
    text-align: center;
}

.clnb_footer .clnb_renew_lang {
    display: none;
    margin-top: 12px;
}

.clnb_footer .clnb_lang_btn {
    display: inline-block;
    vertical-align: top;
    height: 32px;
    line-height: 32px;
    margin: 0 1px;
    border-radius: 5px;
    background-color: #4a4a4a;
}

.clnb_footer .clnb_lang_btn.on {
    background-color: #313131;
}

.clnb_footer .clnb_lang_tx {
    display: block;
    position: relative;
    text-align: left;
    padding: 0 8px;
    font-family: Roboto-Regular, sans-serif;
    font-size: 11px;
    letter-spacing: -0.1px;
    color: #ccc;
}

.clnb_footer .clnb_lang_tx:before {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 2px 0;
    content: "";
}

.clnb_footer .ic_lang_kr:before {
    /* background-image: url(../img/sprites/sp_mcomlnb_20200703.png); */
    background-position: -76px 0px;
    width: 16px;
    height: 16px;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .clnb_footer .ic_lang_kr:before {
        /* background-image: url(../img/sprites/sp_mcomlnb_20200703@2x.png); */
        background-size: 92px 43px;
    }
}

.clnb_footer .ic_lang_en:before {
    /* background-image: url(../img/sprites/sp_mcomlnb_20200703.png); */
    background-position: -76px -26px;
    width: 16px;
    height: 16px;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .clnb_footer .ic_lang_en:before {
        /* background-image: url(../img/sprites/sp_mcomlnb_20200703@2x.png); */
        background-size: 92px 43px;
    }
}

.clnb_footer .ic_lang_chn:before {
    /* background-image: url(../img/sprites/sp_mcomlnb_20200703.png); */
    background-position: -26px -25px;
    width: 16px;
    height: 16px;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .clnb_footer .ic_lang_chn:before {
        /* background-image: url(../img/sprites/sp_mcomlnb_20200703@2x.png); */
        background-size: 92px 43px;
    }
}

.clnb_footer .clnb_renew_help {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
}

.clnb_footer .clnb_help_link {
    display: inline-block;
    color: #cccccc;
    padding-right: 10px;
}

.clnb_footer .clnb_help_link span {
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
    font-size: 12px;
}

.clnb_footer .clnb_help_link:before {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
    font-size: 11px;
    content: "|";
}

.clnb_footer .clnb_help_link:first-child:before {
    content: none;
}

@media screen and (max-width: 320px) {
    .clnb_footer .clnb_renew_help {
        padding-top: 7px;
    }
}

.mcom_modal_lang .modal_lang_tit {
    margin-top: 10px;
    text-align: center;
    font-weight: normal;
}

.mcom_toast_wrap {
    position: fixed;
    top: 50%;
    left: 15px;
    right: 15px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 21px 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    text-align: center;
    z-index: 99999;
    color: #fff;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}

.mcom_toast_tit {
    font-size: 15px;
    font-weight: bold;
    font-family: "Roboto-Medium", sans-serif;
}

.mcom_toast_cont {
    margin-top: 6px;
    word-break: keep-all;
    word-wrap: break-word;
    font-size: 15px;
    font-family: "Roboto-Regular", sans-serif;
}

/* 몰탭 광고시 구버전 카테고리 */
.clnb {
    position: relative;
    height: 100%;
}

.clnb_ic,
.clnb_item_link.st:before,
.clnb_item_link.all .clnb_item_tx:after {
    display: inline-block;
    overflow: hidden;
    /* background: url(../img/com_v2/sp_clnb_v2.png) 0 0 no-repeat; */
    background-size: 140px auto;
    line-height: 999px;
    vertical-align: middle;
}

.clnb_nav {
    padding-left: 20px;
    background: #fff;
}

.clnb_item {
    border-top: 1px solid #eee;
}

.clnb_item:first-child {
    border: 0;
}

.clnb_item>.clnb_item_link {
    margin-left: -20px;
    color: #222;
    font-size: 15px;
    line-height: 50px;
}

.clnb_sub_item {
    background: #f8f8f8;
}

.clnb_sub_item .clnb_item_link {
    color: #666;
    font-size: 14px;
    line-height: 45px;
}

.clnb_item_link {
    display: block;
    position: relative;
    padding: 0 20px;
    letter-spacing: -0.1px;
}

.clnb_item_link .clnb_item_tx {
    position: relative;
}

.clnb_item_link .clnb_item_tx .ico_tooltip {
    position: relative;
    top: auto;
    right: auto;
    display: inline-block;
    padding-right: 3px;
    margin-left: 5px;
    vertical-align: 2px;
    border-radius: 3px;
    font-weight: normal;
}

.clnb_sub_area {
    background-color: #f8f8f8;
}

.clnb_sub_area .clnb_shop_bn {
    margin-bottom: 6px;
}

.clnb_sub_area .clnb_shop_bn .clnb_shop_bnlnk {
    display: block;
}

.clnb_sub_area .clnb_shop_bn .clnb_shop_bnlnk img {
    vertical-align: top;
    width: 100%;
    max-width: 300px;
}

.clnb_sub_area .clnb_shop_service {
    padding-bottom: 10px;
    margin: 16px 0 0 20px;
    /* background: url(../img/com_v2/bg_clnb_mndmoon.png) 0 0 no-repeat; */
    background-size: 295px auto;
}

.clnb_sub_area .clnb_shop_service:after {
    clear: both;
    content: "";
    display: block;
}

.clnb_sub_area .clnb_shop_service .clnb_shop_mn {
    float: left;
    margin: 0 23px 20px 0;
}

.clnb_sub_area .clnb_shop_service .clnb_shop_mn:nth-child(3n + 1) {
    clear: both;
}

.clnb_sub_area .clnb_shop_service .clnb_shop_mn .clnb_shop_lnk {
    display: block;
    width: 70px;
    height: 70px;
}

.clnb_sub_area .clnb_shop_service .clnb_shop_mn .clnb_shop_lnk img {
    width: 100%;
    vertical-align: top;
}

@media screen and (max-width: 360px) {
    .clnb_sub_area .clnb_shop_service .clnb_shop_mn {
        margin: 0 6px 20px 0;
    }
}

.clnb_item_link .clnb_item_ic {
    overflow: hidden;
    position: absolute;
    top: 50%;
    right: 20px;
    width: 7px;
    height: 7px;
    margin-top: -6px;
    background: transparent;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    -webkit-transform: perspective(1px) rotate(45deg);
    transform: perspective(1px) rotate(45deg);
    font-size: 0;
}

.clnb_item_link.folder.selected {
    color: #222;
    font-weight: bold;
}

.clnb_item_link.folder.selected .clnb_item_ic {
    margin-top: -2px;
    border-color: #ff5b59;
    -webkit-transform: perspective(1px) rotate(225deg);
    transform: perspective(1px) rotate(225deg);
}

.clnb_item_link.all:before {
    content: "";
    display: inline-block;
    overflow: hidden;
    width: 1px;
    margin-right: -1px;
    vertical-align: middle;
}

.clnb_item_link.all .clnb_item_tx {
    display: inline-block;
    position: relative;
    padding-right: 14px;
    border-bottom: 1px solid #666;
    line-height: 18px;
    color: #222;
}

.clnb_item_link.all .clnb_item_tx:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 9px;
    height: 9px;
    margin-top: -5px;
    background-position: -40px -160px;
}

.clnb_item_link.custom {
    color: #4a90e2;
    font-weight: bold;
}

.clnb_item_link.st {
    margin: 0 20px;
    padding: 0;
    border-bottom: 1px solid #eaeaea;
    color: #222;
}

.clnb_item_link.st:active {
    background: transparent;
}

.clnb_item_link.st:before {
    content: "";
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.clnb_item_link.st.sm:before {
    background-position: -40px -140px;
}

.clnb_item_link.st.sd:before {
    background-position: -60px -140px;
}

.clnb_item.titled>.clnb_item_link {
    font-weight: bold;
}

.clnb_item.titled>ul>li.clnb_sub_item {
    border-top: 1px solid #eee;
    background: #fff;
}

.clnb_item.titled>ul>li.clnb_sub_item>.clnb_item_link {
    margin: 0;
    padding: 0 5px;
    color: #222;
}

.clnb_item.titled>.clnb_sub_area {
    background-color: #fff;
}

.clnb_item.titled>.clnb_sub_area>.clnb_sub_category {
    background-color: #fff;
}

.clnb_item.titled>.clnb_sub_area>.clnb_sub_category>.clnb_sub_item {
    border-top: 1px solid #eee;
    background-color: transparent;
}

.clnb_item.titled>.clnb_sub_area>.clnb_sub_category>.clnb_item_link {
    margin: 0;
    padding: 0 5px;
    color: #222;
}

/* 몰탭 광고시 구버전 카테고리 */
.clnb_top_bn img,
.clnb_sub_bn img {
    width: 100%;
    height: 100%;
}

.clnb_sub_bn {
    text-align: center;
    padding: 15px;
    display: block;
}

::-webkit-scrollbar {
    opacity: 0;
    background: transparent;
}

::-webkit-scrollbar:hover {
    opacity: 1;
}

.clnb_sub_cate>ul {
    padding: 0 15px 5px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.clnb_sub_cate .clnb_renew_item {
    padding: 15px 3px 12px;
    min-height: 125px;
    border-radius: 27px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 25%;
    flex: 1 1 25%;
    max-width: 25%;
    margin: 0;
    display: inline-block;
}

.clnb_sub_cate .clnb_renew_item a {
    height: auto;
    display: block;
}

.clnb_sub_cate .clnb_renew_item.ty_theme em {
    color: #5d30ff;
}

.clnb_sub_cate .clnb_renew_item .thmb {
    position: relative;
    padding-bottom: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 34%;
}

.clnb_sub_cate .clnb_renew_item .thmb:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.clnb_sub_cate .clnb_renew_item:hover .thmb:before {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 27px;
    background: rgba(0, 0, 0, 0.03);
    z-index: 10;
    content: "";
}

.clnb_sub_cate .clnb_renew_item em {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
}

.clnb_sub_cate .clnb_renew_item .clnb_lst_cate {
    display: none;
}

.clnb_sub_cate .clnb_renew_item .clnb_lst_cate.selected {
    display: block;
}

.clnb_sub_cate .clnb_renew_item .clnb_lst_cate .clnb_lst {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    overflow: hidden;
}

.clnb_sub_cate .clnb_renew_item .clnb_lst_cate .cate_view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #f5f5f5;
    margin: 15px 0;
    padding: 15px;
}

.clnb_sub_cate .clnb_renew_item .clnb_lst_cate .cate_view li {
    display: inline-block;
    width: 50%;
    height: 30px;
}

.clnb_sub_cate .clnb_renew_item .clnb_lst_cate .cate_view li a {
    font-size: 14px;
    letter-spacing: -0.3px;
    color: #666;
}

.clnb_sub_cate .clnb_renew_item .clnb_lst_cate .cate_view li a:hover {
    color: #222;
    font-weight: bold;
}

.clnb_sub_cate .clnb_renew_item .clnb_lst_cate .cate_view li.cate_theme a {
    color: #6841ff;
}

.clnb_sub_cate .clnb_renew_item .clnb_lst_cate .cate_view li.cate_theme a:hover {
    color: #6841ff;
    font-weight: bold;
}

.clnb_sub_cate .clnb_renew_item .clnb_lst_cate.v2 {
    display: none;
}

.clnb_sub_cate .clnb_renew_item .clnb_lst_cate.v2.selected {
    display: block;
}

.clnb_sub_cate .clnb_renew_item .clnb_lst_cate.v2 .clnb_lst {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    overflow: hidden;
}

.clnb_sub_cate .clnb_renew_item .clnb_lst_cate.v2 .cate_view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #f5f5f5;
    margin: 15px 0;
    padding: 12px 12px 20px 13px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clnb_sub_cate .clnb_renew_item .clnb_lst_cate.v2 .cate_view li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    height: auto;
    min-height: 38px;
    padding: 0 13px 0 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.clnb_sub_cate .clnb_renew_item .clnb_lst_cate.v2 .cate_view li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    font-size: 14px;
    letter-spacing: -0.3px;
    color: #222;
}

.clnb_sub_cate .clnb_renew_item .clnb_lst_cate.v2 .cate_view li a:hover {
    font-weight: bold;
}

.clnb_sub_cate .clnb_renew_item .clnb_lst_cate.v2 .cate_view li.cate_theme a {
    color: #6841ff;
}

.clnb_sub_cate .clnb_renew_item .clnb_lst_cate.v2 .cate_view li.cate_theme a:hover {
    color: #6841ff;
    font-weight: bold;
}

.clnb_sub_cate .clnb_renew_item .clnb_lst_cate.v2 .cate_view li.cate_view_all {
    width: 100%;
    margin: 8px 0;
}

.clnb_sub_cate .clnb_renew_item .clnb_lst_cate.v2 .cate_view li.cate_view_all .cate_view_all_link {
    overflow: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 38px;
    border-radius: 6px;
    background-color: #fff;
}

.clnb_sub_cate .clnb_renew_item .clnb_lst_cate.v2 .cate_view li.cate_view_all .cate_view_all_link img {
    width: 100%;
    height: 100%;
}

.clnb_renew_theme {
    margin-bottom: 20px;
}

.clnb_renew_theme .clnb_tit {
    padding-bottom: 15px;
}

.clnb_renew_theme ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    scroll-padding: 0 50%;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
}

.clnb_renew_theme ul .clnb_shdu_item {
    display: inline-block;
    scroll-snap-align: center;
    margin-right: 15px;
    position: relative;
}

.clnb_renew_theme ul .clnb_shdu_item .clnb_shdu_thmb .clnb_shdu_img {
    padding-bottom: 90%;
}

.clnb_renew_theme ul .clnb_shdu_item:first-child {
    margin-left: 15px;
}

.clnb_renew_theme ul .clnb_shdu_item .clnb_shdu_tx_thmb {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0 0 8px 8px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 38px;
    width: 100%;
    padding: 0;
    text-align: center;
}

.clnb_renew_theme ul .clnb_shdu_item .clnb_shdu_tx_thmb .clnb_shdu_tit {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #fff;
    padding-top: 7px;
}

.clnb_renew_theme_v2 {
    position: relative;
    margin-bottom: 20px;
}

.clnb_renew_theme_v2 .clnb_tit {
    padding-bottom: 5px;
}

.clnb_renew_theme_v2 .clnb_theme_warp {
    position: relative;
    padding-bottom: 15px;
    margin-left: 15px;
}

.clnb_renew_theme_v2 .clnb_theme_warp ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.clnb_renew_theme_v2 .clnb_theme_warp ul .clnb_shdu_item {
    display: inline-block;
    width: 50%;
    margin-top: 10px;
}

.clnb_renew_theme_v2 .clnb_theme_warp ul .clnb_shdu_item .clnb_shdu_link {
    margin-right: 15px;
    display: block;
}

.clnb_renew_theme_v2 .clnb_theme_warp ul .clnb_shdu_item .clnb_shdu_link .clnb_shdu_thmb {
    width: 100%;
    border-radius: 8px;
    float: inherit;
}

.clnb_renew_theme_v2 .clnb_theme_warp ul .clnb_shdu_item .clnb_shdu_link .clnb_shdu_tx_thmb {
    padding: 8px 0 3px 0;
}

.clnb_renew_theme_v2 .clnb_theme_warp ul .clnb_shdu_item .clnb_shdu_link .clnb_shdu_tx_thmb .clnb_shdu_tit {
    font-size: 13px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.clnb_renew_brand {
    position: relative;
}

.clnb_renew_brand .clnb_tit {
    padding-bottom: 15px;
}

.clnb_renew_brand .clnb_brand_more {
    position: absolute;
    right: 15px;
    top: 21px;
    font-size: 12px;
}

.clnb_renew_brand .clnb_brand_more:after {
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    margin: -3px 0 0 3px;
    border-bottom: 1px solid #222;
    border-right: 1px solid #222;
    -webkit-transform: perspective(1px) rotate(-45deg);
    transform: perspective(1px) rotate(-45deg);
    content: "";
}

.clnb_renew_brand>ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    scroll-padding: 0 50%;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
}

.clnb_renew_brand>ul .clnb_brand_item {
    display: inline-block;
    scroll-snap-align: center;
    margin-right: 15px;
    position: relative;
}

.clnb_renew_brand>ul .clnb_brand_item .clnb_brand_thmb {
    float: left;
    width: 240px;
    position: relative;
    border-radius: 7px;
    overflow: hidden;
}

.clnb_renew_brand>ul .clnb_brand_item .clnb_brand_thmb .clnb_brand_img {
    padding-bottom: 45%;
}

.clnb_renew_brand>ul .clnb_brand_item .clnb_brand_thmb .clnb_brand_img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.clnb_renew_brand>ul .clnb_brand_item:first-child {
    margin-left: 15px;
}

.clnb_renew_brand>ul .clnb_brand_item .clnb_brand_tx_thmb {
    display: block;
    font-size: 12px;
    color: #777;
    line-height: 1.3;
}

.clnb_renew_brand>ul .clnb_brand_item .clnb_brand_tx_thmb .clnb_shdu_tit {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #222;
    font-size: 14px;
    padding-top: 7px;
    display: inline-block;
}

.clnb_brand_quick {
    padding: 0 10px 3px;
}

.clnb_brand_quick>ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.clnb_brand_quick>ul>li {
    padding: 0 5px 8px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 25%;
    flex: 1 1 25%;
    max-width: 25%;
    margin: auto;
}

.clnb_brand_quick>ul>li>a {
    display: block;
}

.clnb_brand_quick>ul .brand_quick_thmb {
    position: relative;
    padding-bottom: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 34%;
}

.clnb_brand_quick>ul .brand_quick_thmb:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.clnb_brand_quick>ul .brand_quick_tx {
    margin-top: 5px;
    color: #424242;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: -0.3px;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.clnb_service_new ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    scroll-padding: 0 50%;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
}

.clnb_service_new .clnb_renew_item {
    display: inline-block;
    scroll-snap-align: center;
    margin-right: 6px;
    position: relative;
}

.clnb_service_new .clnb_renew_item:first-child {
    margin-left: 18px;
}

.clnb_service_new .clnb_renew_item .thmb {
    width: 54px;
    height: 54px;
    border-radius: 20px;
}

.clnb_service_new .clnb_renew_item em {
    font-size: 12px;
    color: #424242;
    width: 54px;
}

/*# sourceMappingURL=mcom_page_lnb.css.map */