@use '/src/styles/base/variable';

.list-header-container {
  grid-column: span 2;
  margin-top: 45px;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  color: variable.$BLACK-006;

  .left {
    .heading3 {
      font-size: 20px;
      font-weight: bold;
      color: variable.$BLACK-001;
      line-height: 1.3;
      word-break: keep-all;
    }

    .left-text {
      padding: 4px 0 0;
    }
  }

  .right {
    .right-link {
      position: relative;
      font-size: 13px;
      padding-right: 10px;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 2px;
        width: 5px;
        height: 6px;
        margin-top: -4px;
        border: solid variable.$BLACK-006;
        border-width: 1px 1px 0 0;
        transform: rotate(45deg);
      }
    }
  }
}