* {
  margin: 0;
  padding: 0;
}

.header-wrap {
  height: 345px;
  top: 0;
  position: absolute;
}

#m_header {
  position: sticky;
  z-index: 300;

  .header-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding-top: 8px;
    padding-bottom: 10px;
    margin: 0 15px;
  }
}