.search-value {
  padding: 0 80px 0 50px;

  .mcom_tit_txt {
    .search-title-link {
      position: inherit;
    }
  }
}

.seach-background {
  background-color: transparent;
}

.cm_sch_result.v2 {
  .cm_search_titbox h3 {
    font-weight: bold;
  }

  .cm_result_titbox {
    p {
      b {
        font-weight: bold;
      }
    }
  }
}