.myssg_user_benefit {
  position: relative;
  margin-top: 15px;
  border: 1px solid #222;
  border-radius: 8px;
}

.myssg_user_benefit .myssg_coupon_point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 14px 14px 15px;
}

.myssg_user_benefit .myssg_coupon_point .myssg_coupon {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  padding-right: 15px;
}

.myssg_link {
  display: block;
}

.myssg_user_benefit dl {
  color: #222;
}

.myssg_user_benefit dl dt {
  font-size: 13px;
  line-height: 15px;
}

.myssg_user_benefit dl dd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 12px;
  line-height: 16px;
  text-align: right;
  white-space: nowrap;
}

.myssg_user_benefit .myssg_ssgmoney {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  padding: 16px 14px 14px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.myssg_user_benefit .myssg_ssgmoney.v2 {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* ν¬μΈνΈ */
.myssg_user_benefit .myssg_coupon_point .myssg_point {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  padding-left: 16px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.myssg_user_benefit .myssg_coupon_point .myssg_point::after {
  position: absolute;
  content: "";
  top: 1px;
  left: 0;
  width: 1px;
  height: 37px;
  background: #e5e5e5;
}

.myssg_user_benefit .myssg_coupon_point .myssg_point .myssg_point_link {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.myssg_user_benefit .myssg_coupon_point .myssg_point .myssg_point_join {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 20px;
  padding-top: 2px;
  margin: 0 3px 0 0;
  background: #222;
  border-radius: 4px;
  font-size: 12px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

.myssg_layer_conts .myssg_layer {
  display: none;
}

.myssg_point_layer {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  z-index: 10;
  border-radius: 8px;
  background: #222;
  -webkit-box-shadow: 0 5px 15px 0 rgb(0 0 0 / 30%);
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 30%);
}

.myssg_point_layer .myssg_point_layer_conts {
  position: relative;
  height: 174px;
  padding: 15px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.myssg_point_layer .myssg_point_layer_tit {
  padding-right: 30px;
  line-height: 16px;
}

.myssg_point_layer .myssg_point_layer_tit .myssg_close_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url(https://sui.ssgcdn.com/ui/m_ssg/img/sprites/sp_myssg_main_20220329@2x.png);
  background-position: 0px 0px;
  background-size: 134px 110px;
  width: 24px;
  height: 24px;
}

.blind {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  line-height: 0;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
  clip: rect(0, 0, 0, 0);
}

.myssg_point_layer .myssg_point_desc {
  margin-top: 5px;
}

.myssg_point_layer .myssg_point_desc .myssg_point_desctx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 123px;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  text-align: center;
}

.myssg_point_layer .myssg_point_desc.ty_space .myssg_point_desctx {
  height: 99px;
}

.myssg_point_layer .myssg_point_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 5px 5px;
  width: calc(100% - 10px);
  height: 35px;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
}

.myssg_user_benefit .myssg_ssgmoney {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  padding: 16px 14px 14px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.myssg_user_benefit .myssg_ssgmoney.v2 {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.myssg_user_benefit .myssg_ssgmoney::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  width: calc(100% - 28px);
  height: 1px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #e5e5e5;
}

.myssg_user_benefit .myssg_ssgmoney .myssg_ssgmoney_link {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 5px;
}

.myssg_user_benefit .myssg_ssgmoney .myssg_ssgmoney_link {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 5px;
}

.myssg_user_benefit dl dd .myssg_benefit_score {
  margin-right: 3px;
  font-family: "Roboto-Medium", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}
