.cgsearch_latest_keylst li .search-word {
  position: relative;
  display: block;
  height: 40px;
  padding-right: 25px;
  line-height: 40px;
  border-bottom: 1px solid #eaeaea;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
}