// .toolList-wrapper {
//   background-color: red;
//   font-size: 14px;
//   line-height: 1.5;
//   color: #000;

//   .toolList {
//     position: fixed;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     z-index: 2000;
//     padding-bottom: constant(safe-area-inset-bottom);
//     padding-bottom: env(safe-area-inset-bottom);
//     box-shadow: 0 -1px 4px 0 rgb(0 0 0 / 5%), inset 0 1px 0 0 #fff;
//     background-color: #fbfbfb;
//   }

//   ul {
//     display: flex;
//     justify-content: space-around;
//   }

//   ul li {}

//   ul li Link {
//     position: relative;
//     display: block;
//     height: 50px;
//     text-align: center;
//   }
// }


.mcom_toolbar_v2 {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  -webkit-box-shadow: 0 -1px 4px 0 rgb(0 0 0 / 5%), inset 0 1px 0 0 #fff;
  box-shadow: 0 -1px 4px 0 rgb(0 0 0 / 5%), inset 0 1px 0 0 #fff;
  background-color: #fbfbfb;

  .toolbar_menu {
    display: flex;

    .toolbar_item {
      flex: 1;
    }
  }
}