@use '/src/styles/base/variable';

.search-box {
  padding-right: 30px;

  .header-util {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }
}

// open-search-input
.search-form {
  display: flex;
  width: 78vw;
  padding-left: 15px;
  padding-right: 10px;

  .open-search-input {
    width: 100%;
    height: 30px;
    border: none;
    margin-right: 5px;
    padding-left: 4px;
  }

  .open-search-input:focus {
    border: 2px solid #e59700;
    border-radius: 5px;
  }
}

// not-open-search-input
.not-open-search-input-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  height: 40px;
  padding-left: 20px;

  .search-input-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    width: 100%;
    height: 100%;
    margin-right: 5px;
    padding-right: 10px;
    background-color: variable.$BLACK-010;

    .not-open-search-input {
      border: none;
      width: 80%;
      height: 30px;
      margin-left: 5px;
      background-color: variable.$BLACK-010;
    }
  }
}

.search-icon {
  display: block;
  width: 24px;
  height: 24px;
  background: center / 100% no-repeat;
  background-image: url('../../../assets/svg/icon-search.svg');
}
