.search-form {
  display: flex;
  width: 78vw;
  padding-left: 15px;

  .open-search-input {
    width: 100%;
    height: 30px;
    border: none;
    margin-right: 5px;
    padding-left: 4px;
  }

  .open-search-input:focus {
    border: 2px solid #e59700;
    border-radius: 5px;
  }
}
