// .toolbar__item {
//   font-size: 14px;
//   font-family: 'AppleSDGothicNeo-Regular', sans-serif;
//   color: #000;

//   i.icon::after {
//     content: "";
//     display: inline-block;
//     width: 100%;
//     height: 100%;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 100%;
//   }

//   i.icon.ty_lg {
//     width: 28px;
//     height: 28px;
//   }

//   .icon_category::after {
//     background-image: url('../../../assets/svg/menu-icon.svg');
//   }
// }

.toolbar_lnk {
  position: relative;
  display: block;
  height: 50px;
  text-align: center;

  .icon {
    position: absolute;
    top: 8px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  &::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../../../assets/svg/menu-icon.svg);
  }

  .toolbar_txt {
    display: block;
    padding-top: 33px;
    color: #000;
    font-size: 10px;
    opacity: 0.45;
  }
}