.product-list-header {
  padding: 0 80px 0 50px;
  border-bottom: 1px solid #bcbcbc;
}

.mcom_tit_renew .mcom_category .cate_path .depth.current .btn_more {
  font-weight: bold;

  .more-arrow {
    width: 0;
    height: 0;
  }
}