.nav-modal {
  position: fixed;
  top: 0;
  z-index: 500;
}

.mcom_wrap {
  .mcom_dimmed {
    top: 0.2px;
    display: block;
  }
}

.m_catelst_wrap_v2 {
  .cmgrid_full_box {
    width: 100%;
  }

  .m_catelst {
    .lst_cate {
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      border-bottom: 1px solid #f5f5f5;
    }

    li {
      width: 33%;
      border-left: 1px solid #f5f5f5;
    }
  }
}

.cmft_sort.v2 .cmft_cell.cmft_sort_srch {
  width: 100px;
}

.cmft_sort.v2 .cmft_cell.cmft_sort_srch,
.cmft_sort.v2 .cmft_sort_tit.cmft_label_curent,
.cmft_sort.v2 .cmft_cell.cmft_sort_rank .cmft_sel_curent {
  height: 50px;
}

.clickable.smallCate.on {
  background-color: #f5f5f5;
}