@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// font
body,
button,
input,
textarea {
  font-family: "Roboto", sans-serif;
  font-size: $FS-005;
  font-weight: $FW-001;
  color: $BLACK-001;
  line-height: 1.5;
  font-feature-settings: 'tnum';
}

input[type='number'] {
  font-feature-settings: 'tnum';
}