@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;800&display=swap');

body,
button,
input,
textarea {
  font-family: 'Noto Sans', sans-serif, Arial, PingFangSC-Regular, 'Microsoft YaHei';
  font-feature-settings: 'tnum';
}

input[type='number'] {
  font-feature-settings: 'tnum';

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}
