// 폰트 사이즈
$FS-001: 20px; // h3
$FS-002: 18px; // ranking
$FS-003: 16px; // ranking price
$FS-004: 15px; // new service
$FS-005: 14px; // body
$FS-006: 13px; // ranking info
$FS-007: 12px; // items
$FS-008: 11px; // footer
$FS-009: 10px; // footer

// 폰트 두께
$FW-001: 400; // body
$FW-002: 500; // ranking price
$FW-003: 600; // slider title

// 폰트/배경 색상
$WHITE-001: #FFF;
$WHITE-ALPA-001: rgba(255, 255, 255, 0.6); // card

$BLACK-001: #222; // body
$BLACK-002: #444; // hot brand title
$BLACK-003: #414141; // footer
$BLACK-004: #565656; // footer
$BLACK-005: #717178; // footer
$BLACK-006: #777; // body
$BLACK-007: #888888; // footer
$BLACK-008: #dbdbe0; // footer
$BLACK-009: #eee; // border
$BLACK-010: #f5f5f5; // input
$BLACK-ALPA-001: rgba(0, 0, 0, 0.65); // nav

$RED-001: #f12e24;
$RED-002: #ff3e3e;
$RED-003: #ff5b59;

// 크기
$H-NAV: 50px;
$H-NAV-SD: 60px;

// 레벨
$GNB: 1000;
$DROPDOWN: 1001;

$CHECK-ICON: 11;
$CHECK-BOX: 10;